@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Staatliches&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200&family=Sarala:wght@700&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(90deg, rgba(255, 204, 0, 0.919), rgb(255, 0, 153) );
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(45px);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.logo {
    height: 34px;
    width: 97px;
    padding: 0;
}


.cabecalho-menu {
    display: flex;
    gap: 200px;
}

.cabecalho-menu-item {
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    color: white;
    font-size: 25px;
}

.tit {
    display: flex;
    color: white;
    flex-direction: row;
    align-items: center;
    padding: 50px;
    justify-content: space-evenly;
    margin-top: 100px;
}

.tit-letra {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.tit-img {
    height: 300px;
    width: 300px;
}

.tit-pri {
    font-family: 'Sarala', sans-serif;
    color: black;
}

.tit-seg {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 35px;
    color: orangered;
    text-shadow: 1px 1px 2px black;
}

.tit-ter {
    font-family: 'Sarala', sans-serif;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.button {
    display: flex;
    flex-direction: column;
}

.button-link {
    background-color: rgba(255, 255, 0, 0.648);
    height: 60px;
    width: 180px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
}

.button-git {
    background-color: rgba(255, 255, 0, 0.648);
    height: 60px;
    width: 180px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif
}

.h1-sobre-mim {
    color: rgb(255, 0, 153);
}

.conteudo {
    margin: 50px;
    font-family: 'Sarala', sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
}
